.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #ffffff;
}

.container
{
    width: 100%;
    padding-top: 10%;
    margin:auto;
    max-width: 1000px;
    min-width: 860px;
}

.custom-input
{
    width: 45%;
}

.container-cadastro
{
    width: 100%;
    padding-top: 5%;
    margin:auto;
    max-width: 1000px;
    min-width: 860px;
}



/*body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

}*/

.form-signin {
  width: 100%;
  margin: auto;
  background-color: #ffffff;
}

.form-signin .checkbox {
  font-weight: 600px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #f5f5f5;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #f5f5f5;
}

.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #f5f5f5;
}

.btn-redirect
{
    padding: 4px 20px;
    color: white;
    background-color: green;
    border: 2px solid #2F4F4F;
    text-decoration: none;

}
.btn-redirect:hover
{
    padding: 4px 20px;
    color: white;
    background-color: #2E8B57;
    border-color: green;
    text-decoration: none;
    box-shadow: 1px 1px green;
}

.btn-voltar
{
    padding: 3px 20px;
    color: black;
    background-color: gold;
    border-color: gold;
    text-decoration: none;
    border: 2px solid darkgoldenrod;
}
.btn-voltar:hover
{
    background-color: darkgoldenrod;
    color: black;
    border-color: darkgoldenrod;
}

.btn-enviar
{
	background-color: green;
	color: white;
	border-color: green;
}
.btn-enviar:hover
{
	background-color: #2E8B57;
	color: white;
	border-color: green;
}

.btn-cancelar
{
    background-color: red;
    color: white;
    border-color: red;
}
.btn-cancelar:hover
{
    background-color: #8B0000;
    color: white;
    border-color: red;
}

